/* (A) GLOBAL */
html, body {
  font-family: arial, sans-serif;
  max-width: 1200px;
  padding: 0;
  margin: 0 auto;
}
.bRed {
  background: #c13e3e;
  font-size: 1.1em;
  color: #fff;
  border: 0;
  padding: 10px;
  cursor: pointer;
}

/* (B) HEADER */
#scHead {
  color: #fff;
  background: #353535;
  padding: 20px;
  position: relative;
}
#scCartIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 8px;
  background: #5a5757;
  cursor: pointer;
}

/* (C) PRODUCTS LIST */
#scProduct {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.pdt {
  width: 30%;
  background: #f0f0f0;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}
@media all and (max-width: 768px) {
  .pdt { width: 45% }
}
.pImg {
  max-width: 100%;
  object-fit: contain;
}
.pName {
  margin: 5px 0;
  color: #0e0e0e;
}
.pPrice {
  color: #a82828;
}
.pDesc {
  color: #777;
}
.pAdd {
  width: 100%;
  margin-top: 10px;
}

/* (D) SHOPPING CART */
.ninja {
  display: none !important;
}
#scCart {
  padding: 10px;
}
#scTable {
  border-collapse: collapse;
  width: 100%;
}
#scTable th {
  text-align: left;
}
#scTable th, #scTable td {
  padding: 10px;
}
#scTable tr:nth-child(odd) {
  background: #f2f2f2;
}
#scTable input[type=number] {
  width: 60px;
  padding: 5px;
}
.scDel {}

/* [CHECKOUT FORM] */
#scCheckout {
  margin-top: 10px;
  max-width: 320px;
}
#scCheckout input {
  box-sizing: border-box;
  padding: 5px;
  margin: 5px;
  width: 100%;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.custom-alerts {
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 6px;
  margin: 2px;
  background: green;
  border: 1px solid transparent;
  border-radius: unset;
}